In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
df = pd.read_csv('car data.csv')

In [5]:
df.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [19]:
df.corr()['Selling_Price'].sort_values()

Owner           -0.088344
Kms_Driven       0.029187
Year             0.236141
Present_Price    0.878983
Selling_Price    1.000000
Name: Selling_Price, dtype: float64

In [20]:
df['Seller_Type'].value_counts()

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

In [21]:
df['Car_Name'].value_counts()

city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: Car_Name, Length: 98, dtype: int64

In [22]:
df2 = df

In [31]:
fuel_dummies = pd.get_dummies(df2['Fuel_Type'],dtype=int)

In [32]:
fuel_dummies

     CNG  Diesel  Petrol
0      0       0       1
1      0       1       0
2      0       0       1
3      0       0       1
4      0       1       0
..   ...     ...     ...
296    0       1       0
297    0       0       1
298    0       0       1
299    0       1       0
300    0       0       1

[301 rows x 3 columns]

In [33]:
fuel_dummies.dtypes

CNG       int32
Diesel    int32
Petrol    int32
dtype: object

In [38]:
fuel_dummies.rename(columns={'CNG':'Fuel_Type_CNG', 'Diesel':'Fuel_Type_Diesel', 'Petrol':'Fuel_Type_Petrol'}, inplace=True)
fuel_dummies.head()

   Fuel_Type_CNG  Fuel_Type_Diesel  Fuel_Type_Petrol
0              0                 0                 1
1              0                 1                 0
2              0                 0                 1
3              0                 0                 1
4              0                 1                 0

In [42]:
df2 = pd.concat([df2, fuel_dummies], axis=1)

df2.drop("Fuel_Type", axis = 1, inplace=True)

KeyError: "['Fuel_Type'] not found in axis"

In [43]:
df2.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Seller_Type,Transmission,Owner,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol
0,ritz,2014,3.35,5.59,27000,Dealer,Manual,0,0,0,1,0,0,1,0,0,1
1,sx4,2013,4.75,9.54,43000,Dealer,Manual,0,0,1,0,0,1,0,0,1,0
2,ciaz,2017,7.25,9.85,6900,Dealer,Manual,0,0,0,1,0,0,1,0,0,1
3,wagon r,2011,2.85,4.15,5200,Dealer,Manual,0,0,0,1,0,0,1,0,0,1
4,swift,2014,4.60,6.87,42450,Dealer,Manual,0,0,1,0,0,1,0,0,1,0